
.DS_Store
xbuild
stetic/library-cache
iterm2
NuGet
ranger/trash_history
Microsoft\VisualStudio Services/8.0/Cache
Microsoft\VisualStudio Services/8.0/Cache
.mono/keypairs
Microsoft\VisualStudio Services/8.0/Cache
nvim__
nvim__
broot
coc